{% extends "Biblioteca.html" %}

{% block title %} Inicio {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h2>Biblioteca</h2>
                <strong>
                    <blockquote>Libros</blockquote>
                    <blockquote>Revistas</blockquote>
                    <blockquote>Iconograficos</blockquote>
                    <blockquote>Investigaciones - Ensayos</blockquote>
                </strong>
        </div>
        <div class="col-sm-8 text-justify">
            <article>
                <header>
                    <h2>BIENVENIDO A TU  BIBLIOTECA VIRTUAL</h2>
                </header>
                <p>
                <strong>
                    Hoy en dia se nos hace dificil dirigirnos a una biblioteca, por esta razón estamos aqui, 
                    al alcance de un click, puedes tener acceso a una variedad de documentos, 
                    de igual manera te damos la opcion de compra o alquilar nuetros productos.
                </strong>	
                </p>
            </article>
            <article>
                <header>
                    <h3>Libros</h3>
                </header>
                <p>
                    Tenemos para ustedes una variedad de libros en fisico,
                    que te podemos hacer llegar a tu casa, al igual que el alquiler
                    de libros electronicos.
                </p>
            </article>
        
            <article>
                <header>
                    <h3>Revistas</h3>
                </header>
                <p>
                    Tenemos para ustedes una variedad de revistas de moda, deportes,
                    cultura, informatica entre muchas otras , las cuales puedes acceder a traves
                    de una suscripción.
                </p>
            </article>
        
            <article>
                <header>
                    <h3>Iconogramas - Monografias</h3>
                </header>
                <p>
                    Aqui podras ver una cantidad de iconogramas que pueden ser de
                    tu interes que al igual que de monografias.
                </p>
            </article>
        
            <article>
                <header>
                    <h3>Investigaciones - Ensayos</h3>
                </header>
                <p>
                    Las investigaciones mas recientes las podras encontrar aqui,
                    ademas ensayos que podrian ser utiles para un uso academico.
                </p>
            </article>            
        </div>
    </div>
</div>
{% endblock %}