{% extends "Biblioteca.html" %}
{% load static %}

{% block title %} Iconograficos {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <header>
                <h2>Iconograficos</h2>
            </header>
            <h5>
                La iconografía se refiere a una colección de tipos particulares de imágenes utilizadas por los artistas para comunicar significados más profundos en sus obras de arte. El análisis iconográfico incluye la lectura crítica de las imágenes en relación con los valores sociales y culturales relevantes. La iconografía a menudo se entiende como un lenguaje visual que puede enseñar a los espectadores más sobre culturas y sociedades particulares, tanto antiguas como contemporáneas. La iconografía se ve comúnmente dentro de las artes visuales, pero también se usa en otras disciplinas académicas como la antropología, la sociología, los estudios de medios y los estudios culturales.
            </h5>
        </div>
        <div class="col-sm-8 justify-content-center">
            </br></br><figure>
                    <img src = "https://images.metmuseum.org/CRDImages/dp/original/DP820348.jpg" height="1000" />
                    <figcaption><p>Alberto Durero, Melencolia I, 1514, Museo Metropolitano de Arte, Nueva York.</p>
                        <p>https://www.metmuseum.org/art/collection/search/336228</p> 
                    </figcaption>
            </figure>
            <figure>
                <img src = "https://www.fridakahlo.org/images/paintings/the-wounded-deer.jpg" height="600" />
                <figcaption><p>Frida Kahlo, El ciervo herido, 1946. Colección privada.</p>
                    <p>https://www.fridakahlo.org/the-wounded-deer.jsp</p> 
                </figcaption>
            </figure>
            <figure>
                <img src = "https://www.nationalgallery.org.uk/media/32419/n-0186-00-000175-hd.jpg?crop=0.0082982960832042353,0.040142928898342478,0.023567160876301705,0.25735581538066415&cropmode=percentage&width=350&height=350&rnd=132385367808600000&bgcolor=fff" height="800"/>
                <figcaption><p>Jan Van Eyck, El retrato de Arnolfini, 1434, The National Gallery, Londres.</p>
                    <p>https://www.nationalgallery.org.uk/paintings/jan-van-eyck-the-arnolfini-portrait</p> 
                </figcaption>
            </figure>
            <figure>
                <img src = "https://www.nationalgallery.org.uk/media/34632/n-6461-00-000039-hd.jpg?crop=0.02069047619047619,0,0.074101190476190446,0&cropmode=percentage&width=350&height=350&rnd=132385914014470000&bgcolor=fff" height="800"/>
                <figcaption><p>Peter Paul Rubens, Sansón y Dalila, 1609-10, The National Gallery, Londres.</p>
                    <p>https://www.nationalgallery.org.uk/paintings/peter-paul-rubens-samson-and-delilah</p> 
                </figcaption>
            </figure>
            <figure>
                <img src = "https://shop.tate.org.uk/dw/image/v2/BBPB_PRD/on/demandware.static/-/Sites-TateMasterShop/default/dw26c1e5d8/william-blake-The-Good-and-Evil-Angels-wilbla1906.jpg?sw=480" height="600"/>
                <figcaption><p>William Blake, Los ángeles buenos y malos, 1795-c. 1805, Tate Modern, Londres.</p>
                    <p>https://www.tate.org.uk/art/artworks/blake-the-good-and-evil-angels-n05057</p> 
                </figcaption>
            </figure>
        </div>
    </div>          
</div>


{% endblock %}
