{% extends "Biblioteca.html" %}
{% load static %}

{% block title %} Investigaciones-Ensayos {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <header>
                <h2>Investigaciones</h2>
            </header></br> </br>
            
            <header>
                <h2>Ensayos</h2>
            </header>
        </div>  

        <div class="col-sm-8"></br> </br>
            <h2><a href="https://drive.google.com/file/d/1P97vagY1B1UKut5iLGeT6_2EfbyuRIcQ/view?usp=sharing">C3.AP.01. Scrum y Jira</a></h2></br> </br>
            <h2><a href="https://drive.google.com/file/d/1hLLBN82fFbEGiWfqkSvv8rmQvD-UAfl4/view?usp=sharing">C3.AP.02. GIT y Bitbucket</a></h2></br> </br>
            <h2><a href="https://drive.google.com/file/d/1md3i2xymUBXx3Bq9DR02sj4ZK25coO8r/view?usp=sharing">C3.AP.04. MOCKUPS</a></h2></br> </br>
            <h2><a href="https://drive.google.com/file/d/1fxWy273YJ-7_zdz1XuI0OC9yp8OAkhU9/view?usp=sharing">C3.AP.05. Componente de Base de Datos</a></h2></br> </br>
            <h2><a href="https://drive.google.com/file/d/1jty24l9FPUlsW4DXFO-B0t_gk-t7uo3R/view?usp=sharing">C3.AP.06. Componente Lógico - Creación y Configuración Inicial del Proyecto</a></h2></br> </br>
            <h2><a href="https://drive.google.com/file/d/1yioGC_bYe7euIMvIIVjv9hby5FJiJsAI/view?usp=sharing">C3.AP.07. Componente Lógico - Configuración Preliminar</a></h2></br> </br>
            <h2><a href="https://drive.google.com/file/d/1nfcgepuQkM09RJFqen2dHPgsxxYQcd04/view?usp=sharing">C3.AP.08. Componente Lógico - Modelos y Migraciones</a></h2></br> </br>
            <h2><a href="https://drive.google.com/file/d/13kpkW4g06x5doIpp4RRDVr5GTOo7AbIn/view?usp=sharing">C3.AP.09. Componente Lógico - Serializadores</a></h2></br> </br>
            <h2><a href="https://drive.google.com/file/d/1XgOdI_e5iFs6emd4Skk-eratLf1c7JLT/view?usp=sharing">C3.GP.01. Instalaciones - Componente Lógico</a></h2></br> </br>
            <h2><a href="https://drive.google.com/file/d/1ZSOSVr8J9h889pZAXId5GxyXW2sPHFBb/view?usp=sharing">C3.GP.02. Instalaciones - Heroku</a></h2></br> </br>
            <h2><a href="https://drive.google.com/file/d/1pf9xfUp5YzruDKTWad6i2nbEgt0QRfsF/view?usp=sharing">C3.GP.03. Instalaciones - Componente de Presentación</a></h2></br> </br>
        </div>
    </div>
</div>

{% endblock %}
