{% extends "Biblioteca.html" %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <header>
                <h2>Biblioteca</h2>
            </header>
            <strong>
                <blockquote>Libros</blockquote>
                <blockquote>Revistas</blockquote>
                <blockquote>Iconograficos</blockquote>
                <blockquote>Investigaciones - Ensayos</blockquote>
            </strong>
        </div>
        <div class="col-sm-3">
            <form method="post" action="">
                {% csrf_token %} 
                <div style="width: 70%; margin:auto; color:brown">
                    <div style="color:green ;">
                        {% if messages %}
                            {% for mensaje in messages %}
                                {{mensaje}}
                            {% endfor %}
                        {% endif %}
                    </div></br></br>
                    
                        {{form}}
                        </br></br><button type="submit" class="btn btn-primary bg-success" >Ingresar</button></br></br>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}